<div class='show-case'></div>
<% @products.each do | product |%>
  <section class="page-section show-case">
    <div class="container">
      <div class="product-item">
        <div class="product-item-title d-flex">
          <div class="bg-faded p-5 d-flex mr-auto rounded">
            <h2 class="section-heading mb-0">
              <span class="section-heading-upper"><%=product.sub_title%> - R$ <%=product.value%></span>
              <span class="section-heading-lower"><%=product.title%></span>
            </h2>
          </div>
        </div>
        <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="../images/<%=product.photo%>" alt="">
        <div class="product-item-description d-flex ml-auto">
          <div class="bg-faded p-5 rounded">
            <p class="mb-0">
              <%=product.description%>
              <hr />
              <button class="btn btn-info" onClick="buy(<%=product.id%>)">Comprar</button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>

<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmação:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Seu pedido já foi processado e foi confirmado. Para verificar seu histórico, clique no menu "histórico de compras". Obrigado.
        <hr />
        Ass: Cafe Horizontes Staff.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar!</button>
      </div>
    </div>
  </div>
</div>

<script>

  function buy(productId) {

    $.ajax({
        url: "/products/create-order/",
        type: "POST",
        data: { product_id: productId , authenticity_token: $('[name="csrf-token"]')[0].content }

    }).done(function(response) {
      $('#confirmationModal').modal('show');
    })

  }

</script>
